TELEGRAM_TOKEN=8250727836:AAGQ3YoB9UyCb2bnNTZh9j4QA5HS5BSEonE
FB_PAGE_ID=61590900447700
FB_ACCESS_TOKEN=EAAS71bJeCRUBRwKKqOajJ25o0lsKy0PtZBASCXbTd13GcgIZB4HFTpdNHp1d2iHOITk3DBHOqGHGwXjjGePmmhxdM2fyYH75QBDUAdFpRKya3iC4vZCiTUo4gq0idhThNQuGfu2rm0zI8AaxWFERzlftpyaZBvT3wg2yNLZBfkhnfykr6Jyhj1yNwiCwUMkizfSNdZBYyRwGbnEqf5Ki8tFQAt5oM9bRKi9i4gRt6g5T5THIiB1E4RHZBefQNnEHTLNAhgNPSMa6ndCdflNKzns
ALLOWED_USER_ID=8482007996
PORT=8080
